/* --------------------------------  
  Author : Gayan Virajith
  URL    : gayanvirajith.github.io
  Email  : gayanvirajith@gmail.com
 -------------------------------- */
/*-------------------------------------

Color stack

-------------------------------------*/
/* Common colors */
/* Theme colors */
/*----------------------------------

  Primary style

--------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*****************************************************************************/
/* Common 								     */
/*****************************************************************************/
body, ul, p, h1, h2, h3, h4, h5, h6, blockquote, span, i {
  font-family: "Open Sans", sans-serif; }

body {
  font-size: 17px;
  color: #0e0e0e; }

a {
  color: #282828;
  text-decoration: underline; }

pre {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.meta {
  color: #a09f9f; }

.posts {
  list-style-type: none;
  margin-bottom: 2em;
  padding-left: 0;
  padding-right: 0; }

.posts li {
  margin: 0 0 8em 0; }
  @media (max-width: 767px) {
    .posts li {
      margin: 0 0 1.5em 0; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .posts li {
      margin: 0 0 2em 0; } }
  .posts li header, .posts li footer {
    text-align: center;
    padding: 15px 0; }
  .posts li h2 a {
    color: #0e0e0e;
    text-decoration: none; }
  .posts li p.meta {
    color: #a09f9f;
    text-transform: uppercase;
    letter-spacing: 4px; }

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace !important;
  font-size: 80%; }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.masthead {
  min-height: 400px;
  background-size: cover;
  background-position: center center;
  -webkit-transition: min-height 0.4s;
  -moz-transition: min-height 0.4s;
  -ms-transition: min-height 0.4s;
  -o-transition: min-height 0.4s;
  transition: min-height 0.4s; }

.light {
  font-weight: 400; }

.navbar {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background: transparent;
  color: #282828;
  background: white; }

.navbar-brand {
  font-weight: 700; }

.navbar-brand:focus {
  outline: 0; }

.navbar-custom a {
  color: white;
  text-decoration: none; }
  @media (max-width: 767px) {
    .navbar-custom a {
      color: #0e0e0e; } }

.top-nav-collapse a {
  color: #282828; }

.navbar-custom .nav li a {
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out; }

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
  outline: 0;
  background-color: rgba(255, 255, 255, 0.2); }

.navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: white; }
  @media (max-width: 767px) {
    .navbar-toggle {
      color: #0e0e0e; } }

.navbar-toggle:focus,
.navbar-toggle:active {
  outline: 0; }

@media (min-width: 767px) {
  .navbar {
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out; }

  .top-nav-collapse {
    padding: 0;
    background-color: white; }

  .navbar-custom.top-nav-collapse {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); } }
footer .container {
  color: #5b5b5b;
  font-size: 13px; }
  footer .container a {
    color: #282828;
    text-decoration: none;
    font-weight: 600; }
  footer .container p {
    text-align: center; }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em; }

.post ul, .post ol {
  margin-left: 1.35em; }

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em; }

.post pre code {
  border: none; }

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF; }

.post pre.terminal code {
  background-color: #333; }

.post-wrapper h1 {
  text-align: center; }
.post-wrapper p.meta {
  text-align: center; }

.navbar-toggle {
  display: block;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px; }

span.l1, span.l2, span.l3 {
  display: block;
  width: 35px;
  height: 2px;
  background: #0e0e0e;
  overflow: hidden;
  margin-bottom: .7rem;
  opacity: 1;
  -webkit-transition: all .3s;
  transition: all .3s; }

a.is-active .l1 {
  -webkit-transform: rotate(45deg) translate(0.6rem, 0.6rem);
  -ms-transform: rotate(45deg) translate(0.6rem, 0.6rem);
  transform: rotate(45deg) translate(0.4rem, 0.4rem); }
a.is-active .l2 {
  opacity: 0; }
a.is-active .l3 {
  -webkit-transform: rotate(-45deg) translate(0.6rem, -0.6rem);
  -ms-transform: rotate(-45deg) translate(0.6rem, -0.6rem);
  transform: rotate(-45deg) translate(0.6rem, -0.6rem); }
