---
layout: default
---
{% for post in site.posts %}
	<div class="post-container" data-sr="enter bottom and scale up 5% over 1s" data-scroll-reveal="enter bottom">
		<div class="post-meta">
			<span class="meta">
				{{ post.date | date: "%b %-d, %Y" }}
				<span class="arrow-left"></span>			
			</span>
			<span class="author">
				By Gayan Virajith
			</span>
		</div>
		<div class="post">
			{% if post.thumbnail %}
			<!-- <img src="{{ "/thumbnails/" | append: post.thumbnail | prepend: site.baseurl | prepend: site.url }}"> -->
			<img 
				src="{{ "/thumbnails/min/" | append: post.thumbnail_small | prepend: site.baseurl | prepend: site.url }}"
				srcset="{{ "/thumbnails/min/" | append: post.thumbnail | prepend: site.baseurl | prepend: site.url }} 1280w, {{ "/thumbnails/min/" | append: post.thumbnail_medium | prepend: site.baseurl | prepend: site.url }} 768w, {{ "/thumbnails/min/" | append: post.thumbnail_small | prepend: site.baseurl | prepend: site.url }} 320w">
			{% endif %}
			<div class="content">
				<div class="page-header">					
					<h2 class="title">{{ post.title }}</h2>
				</div>
				{{ post.content }}
			</div>
		</div>
	</div>
{% endfor %}
