<div class="article-share">
    <h3 class="epsilon">Share this article</h3>
    <ul class="list-inline">
        <li><a href="https://www.facebook.com/sharer/sharer.php?u={{baseurl.url.url}}{{page.url}}&amp;t={{page.title}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/intent/tweet?original_referer={{baseurl.url}}{{page.url}}&amp;text={{page.title}}&amp;url={{site.url}}{{page.url}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://plus.google.com/share?url={{baseurl.url.url}}{{page.url}}" target="_blank"><i class="fa fa-google-plus"></i></a></li>
    </ul>
</div>