/*-------------------------------------

Color stack

-------------------------------------*/

/* Common colors */
$color-white: #FFF;
$color-black: #000;

/* Theme colors */
$theme-color-1: #0e0e0e;
$theme-color-2: #5b5b5b;
$theme-color-3: #a09f9f;
$theme-color-4: #282828;