// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-font-family: 'Open Sans', sans-serif;
// Hand written style
$hand-written-font-family: 'JPHST', sans-serif;
$hand-written-font-size: 20px;