---
---


@import "helpers/all";

@import "base/all";

@import "modules/all";

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  @include box-sizing(border-box);
}


body {
  font: {
    size: 100%;
    family: $primary-font; // variables inside partials > _variables.scss
  }
  color: $body-text;  
  

}

img {
  border: 0;
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}