---
---


@import "helpers/all";

@import "base/all";

@import "modules/all";

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  @include box-sizing(border-box);
}


body {
  font: {
    size: 100%;
    family: $font-family-base; // variables inside partials > _variables.scss
  }
  color: $body-text;  
  

}

img {
  border: 0;
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  height: 0;
}

// Page header
// -------------------------

.page-header {
  padding-bottom: (($line-height-computed / 2) - 1);
  margin: ($line-height-computed * .15) 0 $line-height-computed;
  border-bottom: 1px solid $page-header-border-color;
}
