---
---


@import "helpers/all";

@import "base/all";

@import "modules/all";

@import "base/syntax";

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  @include box-sizing(border-box);
}


body {
  font: {
    size: 100%;
    family: $font-family-base; // variables inside partials > _variables.scss
  }
  color: $body-text;  
  

}

img {
  border: 0;
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  height: 0;
}

// Page header
// -------------------------

.page-header {
  padding-bottom: (($line-height-computed / 2) - 1);
  margin: ($line-height-computed * .15) 0 $line-height-computed;
  border-bottom: 1px solid $page-header-border-color;
}

/* --------------------------------

Code snippets

--------------------------------- */
code, pre {
  font-family: Menlo, Monaco, "Courier New", monospace !important;
}
code {  
  padding: .25em .5em;
  font-size: 85%;
  color: $color-1;
  background-color: lighten($color-1, 40%);
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1em;
  padding: 2em;
  @include font-size(12px);
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: $gray-lighter;
  border: 1px solid $gray-dark;
  code {
    font-size: 100%;
    color: inherit;
    background-color: transparent;
  }

  @include MQ(M) {
    @include font-size(14px);
  }
}

.highlight {
  margin-bottom: 1em;
  margin-top: 1em;
  pre {
    margin-bottom: 0;
    padding: 1em;
  }
}

/* Gist via GitHub Pages */
.gist .gist-file {
  font-family: Menlo, Monaco, "Courier New", monospace !important;
  margin: 1em 0;
}
.gist .markdown-body {
  padding: 15px;
}
.gist pre {
  padding: 0;
  background-color: transparent;
}
.gist .gist-file .gist-data {
  font-size: 12px;
  @include MQ(M) {
    font-size: 14px !important;
  }
  line-height: 1.4;
}
.gist code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}


