/**
 * Above the fold scss
 */

@import "../../assets/css/_sass/helpers/all";

@import "../../assets/css/_sass/base/all";

@import "../../assets/css/_sass/modules/all";

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  @include box-sizing(border-box);
}

body {
  font: {
    size: 100%;
    family: $primary-font; // variables inside partials > _variables.scss
  }
  color: $body-text;
  background-repeat: repeat;
  background-position: top left;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  word-break: break-all;
  background-image: rootUrl('assets/css/images/bg-mobile.jpg');

  @include MQ(M) {
    background-color: #e1ebf4;
    background-image: rootUrl('assets/css/images/bg-desktop.jpg');
  }
}

img {
  border: 0;
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}