// Primary font used
$primary-font: Helvetica, Arial, sans-serif;

$color-1: #e83a34;
$color-2: #34373b;
$color-3: #8e9798;

$body-text: #555555;
$body-bg: #e1ebf4;
$body-text: #333333;


$color-white: #FFFFFF;
$color-black: #000000;

$global-url: 'http://gayanvirajith.github.io/nugo';