// Primary font used
$primary-font: "PT Sans", Helvetica, Arial, sans-serif;

// Variables related to button module.
$button-primary: #B7C11E;
$button-secondary: #23A38F;
$button-error: #F0563D;
$button-fg-color: #FFFFFF;
$button-shadow-color: rgba(0, 0, 0, .3);

$px-only:true;


$body-text: #333333;

$color-1: #4a6491;
$color-2: #ef7f25;